<!DOCTYPE html>
<html lang="en" ng-app="loginApp">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>JSON Messenger</title>
		<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-resource.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    	<!--[if lt IE 9]>
      	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    	<![endif]-->
  	</head>
  	<body>
		<div ng-controller="loginController">
    		<h1>JSON Messenger</h1>
    		<form ng-submit="login()">
					<input type="text" placeholder="User Name" ng-model="userName"></input>
					<button type="submit">Login</button>			
	 		</form>
	 	</div>
    	<script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
    	<script type="text/javascript" src="/js/app.js"></script>
    	<script type="text/javascript" src="/js/controllers/login-controller.js"></script>
  	</body>
</html>